
 # Python virtualenv
 
-/backend/venv/
+/backend/venv/
+/backend/.venv/


# Flutter build + tool folders
/frontend/build/
/frontend/.dart_tool/
/frontend/.packages
/frontend/.pub/
/frontend/pubspec.lock

# macOS + IDE cruft
**/.DS_Store
**/.idea/
**/*.iml
.vscode/settings.json
