# Flutter artifacts
**/build/
**/.dart_tool/
**/.idea/
**/.vscode/
**/.packages
**/pubspec.lock
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.DS_Store
**/.metadata

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.eggs/
.eggs/
.env/
.venv/
env/
venv/

# Logs
*.log
*.sqlite3

# System files
Thumbs.db
.DS_Store
*.swp
